/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }
  
  /* router-outlet + *  {
    padding: 0 12px;
  } */
  
  /* Text */
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h1, h2 {
    font-weight: lighter;
  }
  
  p {
    font-size: 14px;
  }
  
  /* Hyperlink */
  a {
    cursor: pointer;
    
    text-decoration: none;
  }
  
  
  /* Button */
.button, button {  
  }
  
  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }

  